# Server
PORT=3000
NODE_ENV=production

# PostgreSQL
DB_USER=your_user
DB_PASS=your_password
DB_NAME=your_db
DATABASE_URL=postgresql://your_user:your_password@postgres:5432/your_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password

# JWT
ACCESS_SECRET=your-secret-key
ACCESS_EXPIRES=15m
REFRESH_TTL=5184000
